/********** Template CSS **********/
:root {
    --warning: #FFFF00;
    --secondary: rgb(66, 6, 6);
    --light: #f0f6ff;
    --dark: #262b47;
} 


body{
    background-color: white;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 

}
/*** Spinner ***/
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity 0.5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}

/*** Gradient Text & BG ***/
.text-warning-gradient {
    background: linear-gradient(
        to bottom right,
        var(--warning),
        var(--secondary)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-secondary-gradient {
    background: linear-gradient(
        to bottom right,
        var(--secondary),
        var(--warning)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-warning-gradient {
    background: linear-gradient(
        to bottom right,
        var(--warning),
        var(--secondary)
    );
}

.bg-secondary-gradient {
    background: linear-gradient(
        to bottom right,
        var(--secondary),
        var(--warning)
    );
}

/*** Button ***/
.btn {
    transition: 0.5s;
}

.btn.btn-warning-gradient,
.btn.btn-secondary-gradient {
    position: relative;
    overflow: hidden;
    border: none;
    color: #ffffff;
    z-index: 1;
}

.btn.btn-warning-gradient::after,
.btn.btn-secondary-gradient::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: -1;
    opacity: 0;
}

.btn.btn-warning-gradient,
.btn.btn-secondary-gradient::after {
    background: linear-gradient(
        to bottom right,
        var(--warning),
        var(--secondary)
    );
}

.btn.btn-secondary-gradient,
.btn.btn-warning-gradient::after {
    background: linear-gradient(
        to bottom right,
        var(--secondary),
        var(--warning)
    );
}

.btn.btn-warning-gradient:hover::after,
.btn.btn-secondary-gradient:hover::after {
    opacity: 1;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    border: none;
    background: linear-gradient(
        to bottom right,
        var(--warning),
        var(--secondary)
    );
}

/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-right: 25px;
    padding: 45px 0;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--dark) !important;
    outline: none;
    transition: 0.5s;
}

.navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: var(--light) transparent transparent transparent;
    transition: 0.5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover::before,
.navbar-light .navbar-nav .nav-link.active::before {
    top: 0;
}

.navbar-light .navbar-brand h1 {
    color: #ffffff;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: 0.5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}


@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #ffffff;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #dddddd;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-nav .nav-link::before {
        display: none;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: lightblue !important;
    }

    .navbar-light .navbar-brand h1 {
        background: linear-gradient(
            to bottom right,
            var(--warning),
            var(--secondary)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }

    .sticky-top.navbar-light {
        position: fixed;
        background: #ffffff;
    }

    .sticky-top.navbar-light .navbar-nav .nav-link::before {
        border-top-color: var(--primary);
    }

    .sticky-top.navbar-light .navbar-brand h1 {
        background: linear-gradient(
            to bottom right,
            var(--warning),
            var(--secondary)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/*** Hero Header ***/
.hero-header {
   
    padding: 16rem 0 0 0;
    background: url(../img/bg-circle.png), url(../img/bg-triangle.png),
        url(../img/bg-bottom.png),
        linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-position: left 0px top 0px, right 0px top 50%, center bottom;
    background-repeat: no-repeat;
}


    .hero-header {
        padding: 4rem 0 4rem 0;
    }


.container-xxl .hi{background-color: (var--dark);
margin-top: 30px;
padding-top: 30px;
width: 100%;}
/*** Feature ***/
.feature-item {
    transition: 0.5s;
}

.feature-item:hover {
    margin-top: -15px;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.08);
}

/*** Pricing ***/
.pricing .nav {
    padding: 2px;
}

.pricing .nav-link {
    padding: 12px 30px;
    font-weight: 500;
    color: var(--dark);
    background: #ffffff;
}

.pricing .nav-item:first-child .nav-link {
    border-radius: 30px 0 0 30px;
}

.pricing .nav-item:last-child .nav-link {
    border-radius: 0 30px 30px 0;
}

.pricing .nav-link.active {
    color: #ffffff;
    background: linear-gradient(
        to bottom right,
        var(--warning),
        var(--secondary)
    );
}

/*** Screenshot ***/

@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .container-xxl .screenshot-carousel {
    flex-direction: column;
  }

}

@media (max-width: 768px) {
    
  .container-xxl {
    height: auto;

  }

  .container-xxl .container  {
    text-align: center;
  }

  .container-xxl  .mb-4 {
    font-size: 1rem;
    text-align: center;
    
  }
  .container-xxl  .pb-3 {
    font-size: 1rem;
    text-align: center;
   
  }
  .container-xxl  .note {
    font-size: 3rem;
    text-align: center;
    margin: 45px;
padding-left: 2px; 
}

  .container-xxl .mb-4 .btn {
    justify-content: center;
  }
  
  .container-xxl .screenshot-carousel {

    border-radius: 25% 25% 0 0;
    margin-top: 15px;
    padding-bottom: 25px;
  }

  .container-xxl .screenshot-carousel.img-fluid {
    
    margin: 75px auto;
  }

  .slider_section .carousel-indicators.indicator-2 {
    display: none;
  }

  .container-xxl.jet_box {
    display: none;
  }

  .container-xxl .owl-carousel .screenshot-carousel
  {

    width:100%;
    height: 50px;
    bottom: 0;
    flex-direction: row;
 justify-content: center;
    right: 0;

  }

  .container-xxl  .details{
    font-size: 1rem;
    text-align: center;
    margin: 20px;
  }
  
  .about_section .detail-box {
    margin-top: 35px;
  }

  .cycle_section .cycle_heading {
    justify-content: center;
  }

  .client_section .client_container {
    width: 100%;
  }

  .info_section .logo_detail,
  .info_section .address_box,
  .info_section .link_box {
    align-items: center;
    text-align: center;
  }

  .contact_section {
    background: none;
    background-color: #252525;
  }

  .row .column .hello{
    font-size: 0.5rem;
    color: (var--dark);
  }
.container-xxl .folio {
    font-size: 1rem;
   
}
}

@media (max-width: 576px) {}

@media (max-width: 480px) {
    .container-xxl  .mb-4 {

    font-size: smaller;
  }
}

@media (max-width: 457px) {
    .container-xxl  .mb-4 {   
        font-size: smaller;
        
    }
}

@media (max-width: 450px) {
    .container-xxl  .mb-4 .container-fluid{   
        font-size: smaller;
        
    }}
    @media (max-width: 430px) {
        .container-xxl  .mb-4 .container-fluid{   
            font-size: smaller;
            
        }

}
@media (max-width: 414px) {
    .container-xxl  .mb-4 .container-fluid{   
        font-size: smaller;
        
    }}
@media (max-width: 360px) {
  .container-xxl  .mb-4 h1 {

    font-size: 2.5rem;
  }
}
.smart{
    margin-top: 20px;
    margin-right: 20px;
    padding: 15px;
    background-color: #FFFF00;
    box-sizing: border-box;
}
.column {
    float: left;
    width: 20%;
    padding-top:50px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  /* Clear floats after image containers */
  .row:after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 20%;
   padding-top: 50px;
   padding-right: 15px;
   padding-left: 15px;
  }
  

.screenshot-carousel {
    position: relative;
    width: 253px;
    height: 500px;
    padding: 15px;
   
}

.screenshot-carousel::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/screenshot-frame.png) center center no-repeat;
    background-size: 253px 500px;
    z-index: 1;
}

.screenshot-carousel .owl-item img {
    position: relative;
    width: 223px;
    height: 470px;
}

.screenshot-carousel .owl-dots {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screenshot-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 5px 0;
    width: 15px;
    height: 15px;
    background: linear-gradient(
        to bottom right,
        var(--warning),
        var(--secondary)
    );
    border-radius: 15px;
    transition: 0.5s;
}

.screenshot-carousel .owl-dot::after {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    top: 5px;
    left: 5px;
    background: #ffffff;
    border-radius: 5px;
}

.screenshot-carousel .owl-dot.active {
    box-shadow: 0 0 10px var(--dark);
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; } /* Green */
.css {width: 80%; } /* Blue */
.js {width: 65%; } /* Red */
.php {width: 60%; } /* Dark Grey */



/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item .testimonial-item * {
    transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: linear-gradient(
        to bottom right,
        var(--warning),
        var(--secondary)
    );
}

.testimonial-carousel .owl-item.center .testimonial-item h5,
.testimonial-carousel .owl-item.center .testimonial-item p {
    color: #ffffff !important;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
   padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: linear-gradient(
        to bottom right,
        var(--warning),
        var(--secondary)
    );
    border-radius: 60px;
    font-size: 18px;
    transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: linear-gradient(
        to bottom right,
        var(--secondary),
        var(--warning)
    );
}

/*** Footer ***/

.footer {
    margin-top: 6rem;
    padding-top: 9rem;
    background: url(../img/bg-circle.png), url(../img/bg-triangle.png),
        url(../img/bg-top.png),
        linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-position: left 0px bottom 0px, right 0px top 50%, center top;
    background-repeat: no-repeat;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(256, 256, 256, 0.1);
    border-radius: 40px;
    transition: 0.3s;
}

.footer .btn.btn-social:hover {
    color: var(--dark);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    transition: 0.3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
